{% extends 'partials/_master.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">
            <div class="header-image">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=1140&h=150"/>
            </div>
        </div>
    </div>
    <div class="row centered">
        <div class="col-md-4 front-block d-flex align-items-stretch justify-content-around">
            <div class="card fp-card">
                {#<img class="card-img-top" src="..." alt="Card image cap">#}
                <div class="card-block">
                    <h4 class="card-title">Become a Member</h4>
                    <div class="mx-auto text-center">
                        <a href="#" class="btn btn-primary">Become a Member</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 front-block d-flex align-items-stretch justify-content-around">
            <div class="card fp-card">
                {#<img class="card-img-top" src="..." alt="Card image cap">#}
                <div class="card-block">
                    <h4 class="card-title">Report a Reaction</h4>
                    <p class="card-text"></p>
                    <div class="mx-auto text-center">
                        <a href="#" class="btn btn-primary">Old Form</a>
                        <p style="margin-top: 16px;">OR</p>
                        <a href="#" class="btn btn-primary">New Form</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 front-block d-flex align-items-stretch justify-content-around">
            <div class="card fp-card">
                {#<img class="card-img-top" src="..." alt="Card image cap">#}
                <div class="card-block">
                    <h4 class="card-title">Who do I Report To?</h4>
                    <div class="mx-auto text-center">
                        <a href="#" class="btn btn-primary">Who do I Report To?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="">Recent Posts</h3>
    {% setcontent new = 'posts/latest/5' %}
    {% for post in new %}
        <article class="row">
            <div class="col-md-8">
                <h4><a href="{{ post.link }}">{{ post.title }}</a></h4>
            </div>
            <div class="col-md-4 text-right">
                {{ post.datepublish|date("m/d/Y") }}
            </div>
            <div class="col-sm-12">
                <p>{{ post.excerpt(300, false, search|default('')) }}</p>
            </div>


        </article>
    {% endfor %}



{% endblock main %}
