{% extends 'partials/_master.twig' %}

{% block main %}
    <div class="ui container">
        <h2 class="header">Coming Soon...</h2>
    </div>


{% endblock main %}

{% block bottomincludes %}


{% endblock %}