{% extends 'partials/_master.twig' %}

{% block main %}
    <div id="root"></div>


{% endblock main %}

{% block bottomincludes %}
<script type="text/javascript" src="{{ asset('dist/tool.js', 'theme') }}"></script>

{% endblock %}