<div id="menu" class="ui inverted red top attached menu borderless huge" style="border:0;">
    <a id="toggle" class="toc item">
        <i class="sidebar icon"></i>
    </a>
    <div class="menu">
        <a class="header item" href="/">
            TTISS
        </a>
    </div>
    <a class="right header toc item" href="/">
        TTISS
    </a>
    <div class="right menu borderless" >
        {{ menu(template = 'partials/_sub_menu.twig') }}
    </div>

</div>