<!-- *****************************************************************************************************************
 FOOTER
 ***************************************************************************************************************** -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="footer-title">Contact Us</h4>
                <div class="hline-w"></div>
                <p>
                    Joanne Duncan, MSc, CCRP, HRM<br>
                    TTISS- ON Coordinator<br>
                    905-525-9140 ext. 22934<br>
                    duncanj@mcmaster.ca<br>
                    <br>
                    Nancy Heddle, Professor, MSc FSCML (D)<br>
                    Professor McMaster University<br>
                    heddlen@mcmaster.ca<br>
                    <br>
                    McMaster University<br>
                    1280 Main Street West Health Science Centre <br>Hamilton, Ontario L8S 1K4
                </p>
            </div>
            <div class="col-md-6">
                <h4 class="footer-title">About</h4>
                <div class="hline-w"></div>
                <p>Ontario transfuses approximately 50% of blood components (red blood cells, platelets, plasma,
                    cryosupernatant and cryoprecipate) in Canada, excluding Quebec. The Ontario Transfusion Transmitted
                    Injuries Surveillance System (TTISS-ON), contracted by the Ministry of Health and Long-Term Care
                    (MOH-LTC) and the Public Health Agency of Canada (PHAC) in 2006, is committed to the development of
                    a comprehensive program for reporting Adverse Transfusion Events (ATEs) in Ontario, as an important
                    part of a national hemovigilance system implemented in 2001 by the Infectious Disease Prevention &
                    Control Branch of the Public Health Agency of Canada (PHAC).</p>
            </div>
        </div>
        <! --/row -->
    </div>
    <! --/container -->
</footer><! --/footerwrap -->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.js', 'theme') }}"></script>
<script src="{{ asset('js/matchHeight-min.js', 'theme') }}"></script>
<script src="{{ asset('js/custom.js', 'theme') }}"></script>
